@font-face {
  font-family: 'PkmnFont';
  src: url(../Utilities/pokemon-ds-font.ttf);
}
.App {
  font-family: 'PkmnFont';
  text-align: center;
  background-color: #1e3136;
  min-height: 100vh;
  max-width: 100vw;
  color: white;  align-items: center;
  align-self: center;

  background-size: contain;

}
.Logo {
  cursor: pointer;
  min-height: 150px;
}


