.App {
  text-align: center;
  background-color: #1e3136;
  min-height: 100vmin;
  max-height: 100vmin;
  min-width: 100vmax;
  max-width: 100vmax;
  color: white;  align-items: center;
  align-self: center;

  background-size: contain;

  a:link {
    color: rgb(2, 204, 2);
    background-color: transparent;
    text-decoration: none;
  }

  a:visited {
    color: rgb(144, 133, 10);
    background-color: transparent;
    text-decoration: none;

  }

}

.Logo {
  display: flex;
  background-repeat: no-repeat;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
 
  cursor: pointer;
}


.App-link {
  color: #61dafb;
}