@font-face {
  font-family: 'PkmnFont';
  src: url(../Utilities/pokemon-ds-font.ttf);
}

.App {
  font-family: 'PkmnFont';
  display: flex;
  flex-direction: column;
  background-color:rgb(0, 0, 0);
  padding: 2em;
}

.help-button {
  border:white;
  border-radius: 100%;
  border-style:ridge;
  border-width: .3em;
  background-color: rgb(255, 0, 0);
}

.help-button:hover {
  cursor:pointer;
  transform: scale(1.05);
  transition: all 0.1s ease-in-out;
}

.play-container {
  display: relative;
  flex-direction: column;
  min-width: 87vmin;
  overflow: auto;
  max-width: 100%;
  max-height: 100%;
  margin: 1em;
}
.play-container
.play-area-0,
.play-area-1,
.play-area-2,
.play-area-3,
.play-area-4,
.play-area-5,
.play-area-6,
.play-area-7,
.play-area-8,
.play-area-9,
.play-area-10,
.play-area-11,
.play-area-12
{
  background-repeat: no-repeat;
  background-position: center;
  min-height: 75vmin;
  background-size: contain;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-between;
  border-style: ridge;
  color: #000000;
  border-color:rgb(255, 255, 255);
  border-width: 1em;
  border-radius: 3%;
}

.play-container .play-area-1 {
  background-image: url('../Utilities/Images/Box_Beach_BDSP.png');
}

.play-container .play-area-2 {
  background-image: url('../Utilities/Images/Box_Cave_BDSP.png');
}

.play-container .play-area-3 {
  background-image: url('../Utilities/Images/Box_Checks_BDSP.png');
}

.play-container .play-area-4 {
  background-image: url('../Utilities/Images/Box_City_BDSP.png');
}

.play-container .play-area-5 {
  background-image: url('../Utilities/Images/Box_Crag_BDSP.png');
}

.play-container .play-area-6 {
  background-image: url('../Utilities/Images/Box_Desert_BDSP.png');
}

.play-container .play-area-7 {
  background-image: url('../Utilities/Images/Box_Forest_BDSP.png');
}

.play-container .play-area-8 {
  background-image: url('../Utilities/Images/Box_River_BDSP.png');
}

.play-container .play-area-9 {
  background-image: url('../Utilities/Images/Box_Savanna_BDSP.png');
}

.play-container .play-area-10 {
  background-image: url('../Utilities/Images/Box_Seafloor_BDSP.png');
}

.play-container .play-area-11 {
  background-image: url('../Utilities/Images/Box_Sky_BDSP.png');
}

.play-container .play-area-12 {
  background-image: url('../Utilities/Images/Box_Snow_BDSP.png');
}

.play-container .play-area-0 {
  background-image: url('../Utilities/Images/Box_Volcano_BDSP.png');
}


.button-row {
  width: 97.5%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  margin-top: 50vh;
  max-width: 90vmin;
}

button {
  border: none;
  background:transparent;
}

button:hover{
  cursor:pointer;
  transform: scale(1.05);
  transition: all 0.1s ease-in-out;
}

.pokemon-details {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -40%);
  text-align: center;
  background-color: transparent;
  padding: 20px;
  max-width: 100%; 
  max-height: 90%; 
  min-height: auto;
  overflow-y: auto; 
}

.HUD {
  margin-top: .5em;
  margin-bottom: 1.5em;
  color: #000000;
  outline: 5px ridge;
  border-radius: 15px;
  border: 5px ridge rgb(186, 186, 186);
  background-color: rgb(255, 255, 255);
}

.pokemon-name-level {
  display: block;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 2em;
  color: #000000;
  outline: 5px ridge;
  border-radius: 15px;
  border: 5px ridge rgb(186, 186, 186);
  background-color: rgb(255, 255, 255);
}

.pokemon-sprite {
  width: 100%;
  height: auto;
  margin: 10px 0;
}
.pokemon-sprite:hover{
  animation-duration: .3s;
  animation-name: hopping;
  animation-iteration-count: 4;
  animation-direction: alternate;
  cursor: pointer
}
@keyframes hopping {
  from {
    translate:0 0vw;
    scale:100% ;
  } to {
    translate: 0 -5vw;
    scale: 100% 1;
  }
}
.pokemon-level {
  font-size: 1em;
  color: #000000;
  margin: 5px 0;
}