@font-face {
  font-family: 'PkmnFont';
  src: url(../Utilities/pokemon-ds-font.ttf);
}

.App {
  font-family: 'PkmnFont';
  display: flex;
  flex-direction: column;
}

.play-container .play-area-1 {
  background-repeat: no-repeat;
  background-position: center;
  min-height: 75vmin;
  background-size: contain;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: center;

  background-image: url('../Utilities/Images/Box_Beach_BDSP.png');
}

.play-container .play-area-2 {
  background-repeat: no-repeat;
  background-position: center;
  min-height: 75vmin;
  background-size: contain;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-between;

  background-image: url('../Utilities/Images/Box_Cave_BDSP.png');
}

.play-container .play-area-3 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-between;

  min-height: 75vmin;

  background-image: url('../Utilities/Images/Box_Checks_BDSP.png');
}

.play-container .play-area-4 {
  background-repeat: no-repeat;
  background-size: contain;
  justify-content: center;
  background-position: center;
  min-height: 75vmin;
  display: flex;
  flex-direction: row;

  align-content: space-between;

  background-image: url('../Utilities/Images/Box_City_BDSP.png');
}

.play-container .play-area-5 {
  background-repeat: no-repeat;
  background-size: contain;
  justify-content: center;
  background-position: center;
  display: flex;
  flex-direction: row;

  align-content: space-between;

  min-height: 75vmin;
  /* min-width: 75vmin; */
  background-image: url('../Utilities/Images/Box_Crag_BDSP.png');
}

.play-container .play-area-6 {
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: center;

  background-position: center;
  min-height: 75vmin;
  /* min-width: 75vmin; */
  background-image: url('../Utilities/Images/Box_Desert_BDSP.png');
}

.play-container .play-area-7 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-between;

  min-height: 75vmin;
  /* min-width: 75vmin; */

  background-image: url('../Utilities/Images/Box_Forest_BDSP.png');
}

.play-container .play-area-8 {
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: row;
  justify-content: center;

  background-position: center;
  min-height: 75vmin;
  /* min-width: 75vmin; */
  align-content: space-between;

  background-image: url('../Utilities/Images/Box_River_BDSP.png');
}

.play-container .play-area-9 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: center;


  min-height: 75vmin;
  min-width: 75vmin;

  background-image: url('../Utilities/Images/Box_Savanna_BDSP.png');
}

.play-container .play-area-10 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  justify-content: center;

  min-height: 75vmin;
  min-width: 75vmin;
  display: flex;
  flex-direction: row;

  align-content: space-between;

  background-image: url('../Utilities/Images/Box_Seafloor_BDSP.png');
}

.play-container .play-area-11 {
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: row;
  justify-content: center;

  background-position: center;
  align-content: space-between;
  min-height: 75vmin;
  background-image: url('../Utilities/Images/Box_Sky_BDSP.png');
}

.play-container .play-area-12 {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: center;


  min-height: 75vmin;
  background-image: url('../Utilities/Images/Box_Snow_BDSP.png');
}

.play-container .play-area-0 {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  min-height: 75vmin;
  display: flex;
  flex-direction: row;
  justify-content: center;


  background-image: url('../Utilities/Images/Box_Volcano_BDSP.png');
}

.play-container {
  display: relative;
  /* align-self: center; */
  flex-direction: column;
  min-height: 110vmin;
  min-width: 110vmin;
  /* width:100%; */
  overflow: auto; /* or hidden */
  max-width: 100%; /* Ensure it doesn’t expand beyond screen width */
  max-height: 100%; /* Adjust as needed */


}

/* .button-containers-1 {
  background-color: rgb(0, 172, 3);
  height: 80%;
} */



.button-row {
  width: 97.5%;
  /* background-color: pink; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  margin-top: 50vh;
  max-width: 90vmin;
  /* max-width: 1080px; */
}

.train-button,
.help-button,
.stats-button,
.feed-button,
.party-button {
  font-family: 'PkmnFont';
  outline: 2px ridge;
  cursor:pointer;
  border-radius: 5px;
  /* padding: 1rem 2rem; */
  background-position: center;
  background-size: cover;

  /* border: 5px ridge rgb(186, 186, 186); */
}

.help-button {
  outline: 0px;
}

.train-button {
  outline-color: red;
  background-image: url('../Utilities/buttons/red_button.png');
}

.stats-button {
  outline-color: rgb(60, 0, 255);
  background-image: url('../Utilities/buttons/blue_button.png');

}

.feed-button {
  outline-color: rgb(61, 195, 13);
  background-image: url('../Utilities/buttons/green_button.png');

}

.party-button {
  outline-color: gray;
  background-image: url('../Utilities/buttons/pokeball_button.png');
}

.App-link {
  color: #61dafb;
}

/* .pokemon-sprite {
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200x;
} */
/* Position Pokémon details in the center */
.pokemon-details {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  text-align: center;
  background-color: transparent;
  padding: 20px;
  /* max-width: 100%; 
  max-height: 100%;  */
  /* min-height: auto; */
  min-width:90vmin;
  min-height:90vmin;
  overflow-y: auto; 
}

.HUD {
  padding:1vmin;
  border: solid, .5vmin, rgba(154, 1, 1, 0.862);
  background-color: #ffffffd1;
  border-radius: .15em;
  filter: drop-shadow(2, 2, 5);
  left:40%;  
  max-width:30vmin;
  margin-left: 32.5%;
  margin-top: 10%;

}

.pokemon-name-level {
  font-size: 2em;
  color: #3b4cca;
  outline: 1vmin ridge;
  border-radius: 1vmin;
  /* padding: 2rem, 1rem; */
  border: .3vmin ridge rgb(186, 186, 186);
  background-color: rgba(255,255,255,0.7);
  /* max-width: 150px; */

justify-self:center;  
max-width:30vmin;
}

.pokemon-sprite {
  /* width: 150px;
  height: 150px; */
  padding: 1vmin;
  margin: 0vmin 0vmin;
  min-height:20vmin;
  margin-top:10%;
}
.pokemon-sprite:hover{
  animation-duration: .3s;
  animation-name: hopping;
  animation-iteration-count: 4;
  animation-direction: alternate;
}
@keyframes hopping {
  from {
    translate:0 0vw;
    scale:100% ;
  } to {
    translate: 0 -5vw;
    scale: 100% 1;
  }
}
.pokemon-level {
  font-size: 1em;
  color: #000000;
  margin: 5px 0;
}