@font-face {
  font-family: 'PkmnFont';
  src: url(../Utilities/pokemon-ds-font.ttf);
}

.App {
  font-family: 'PkmnFont';
  display: flex;
  flex-direction: column;
}

.play-container .play-area-1 {
  background-repeat: no-repeat;
  background-position: center;
  min-height: 75vmin;
  background-size: contain;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: center;

  background-image: url('../Utilities/Images/Box_Beach_BDSP.png');
}

.play-container .play-area-2 {
  background-repeat: no-repeat;
  background-position: center;
  min-height: 75vmin;
  background-size: contain;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-between;

  background-image: url('../Utilities/Images/Box_Cave_BDSP.png');
}

.play-container .play-area-3 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-between;

  min-height: 75vmin;

  background-image: url('../Utilities/Images/Box_Checks_BDSP.png');
}

.play-container .play-area-4 {
  background-repeat: no-repeat;
  background-size: contain;
  justify-content: center;
  background-position: center;
  min-height: 75vmin;
  display: flex;
  flex-direction: row;

  align-content: space-between;

  background-image: url('../Utilities/Images/Box_City_BDSP.png');
}

.play-container .play-area-5 {
  background-repeat: no-repeat;
  background-size: contain;
  justify-content: center;
  background-position: center;
  display: flex;
  flex-direction: row;

  align-content: space-between;

  min-height: 75vmin;
  /* min-width: 75vmin; */
  background-image: url('../Utilities/Images/Box_Crag_BDSP.png');
}

.play-container .play-area-6 {
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: center;

  background-position: center;
  min-height: 75vmin;
  /* min-width: 75vmin; */
  background-image: url('../Utilities/Images/Box_Desert_BDSP.png');
}

.play-container .play-area-7 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-between;

  min-height: 75vmin;
  /* min-width: 75vmin; */

  background-image: url('../Utilities/Images/Box_Forest_BDSP.png');
}

.play-container .play-area-8 {
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: row;
  justify-content: center;

  background-position: center;
  min-height: 75vmin;
  /* min-width: 75vmin; */
  align-content: space-between;

  background-image: url('../Utilities/Images/Box_River_BDSP.png');
}

.play-container .play-area-9 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: center;


  min-height: 75vmin;
  min-width: 75vmin;

  background-image: url('../Utilities/Images/Box_Savanna_BDSP.png');
}

.play-container .play-area-10 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  justify-content: center;

  min-height: 75vmin;
  min-width: 75vmin;
  display: flex;
  flex-direction: row;

  align-content: space-between;

  background-image: url('../Utilities/Images/Box_Seafloor_BDSP.png');
}

.play-container .play-area-11 {
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: row;
  justify-content: center;

  background-position: center;
  align-content: space-between;
  min-height: 75vmin;
  background-image: url('../Utilities/Images/Box_Sky_BDSP.png');
}

.play-container .play-area-12 {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: center;


  min-height: 75vmin;
  background-image: url('../Utilities/Images/Box_Snow_BDSP.png');
}

.play-container .play-area-0 {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  min-height: 75vmin;
  display: flex;
  flex-direction: row;
  justify-content: center;


  background-image: url('../Utilities/Images/Box_Volcano_BDSP.png');
}

.play-container {
  display: relative;
  flex-direction: column;
  min-height: 110vmin;
  min-width: 110vmin;
  overflow: auto;
  max-width: 100%;
  max-height: 100%;
}

.button-row {
  width: 97.5%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  margin-top: 50vh;
  max-width: 90vmin;
}

/* .train-button:hover,
.feed-button:hover,
.party-button:hover  */
button:hover{
  cursor:pointer;
  transform: scale(1.05);
  transition: all 0.1s ease-in-out;
}

.help-button {
  border: none;
  background:transparent;
}

.train-button {
  border: none;
  background:transparent;
}

.feed-button {
  border: none;
  background:transparent;
}

.party-button {
  border: none;
  background:transparent;
}

.App-link {
  color: #61dafb;
}

/* .pokemon-sprite {
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200x;
} */
/* Position Pokémon details in the center */

.pokemon-details {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  text-align: center;
  background-color: transparent;
  padding: 20px;
  max-width: 100%; 
  max-height: 90%; 
  min-height: auto;
  overflow-y: auto; 
}

.pokemon-name-level {
  display: block;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 2em;
  color: #000000;
  outline: 5px ridge;
  border-radius: 15px;
  border: 5px ridge rgb(186, 186, 186);
  background-color: rgba(255,255,255,0.7);
  /* max-width: 150px; */
}

.pokemon-sprite {
  width: 100%;
  height: auto;
  margin: 10px 0;
}
.pokemon-sprite:hover{
  animation-duration: .3s;
  animation-name: hopping;
  animation-iteration-count: 4;
  animation-direction: alternate;
}
@keyframes hopping {
  from {
    translate:0 0vw;
    scale:100% ;
  } to {
    translate: 0 -5vw;
    scale: 100% 1;
  }
}
.pokemon-level {
  font-size: 1em;
  color: #000000;
  margin: 5px 0;
}