.StartPage {
  text-align: center;
  display:flex;
  flex-direction: column;
  /* background-image: url('../Utilities/Images/Title_Screen_Background.png');
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 75vmin;
  min-width: 75vmin; */
}
.start-area{
  background-image: url('../Utilities/Images/Title_Screen_Background.png');
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 80vmin; 
  min-width: 90vmin;
  display:flex;
  justify-content: center;
}

.click-here{
  align-self:center;
  justify-content: center;
  background-repeat: no-repeat;
  padding-bottom: 30vw;
  padding-top: 5vw;
}

.click-here:hover{
  cursor:pointer;
  transform: scale(1.05);
  transition: all 0.1s ease-in-out;
}

.click-here:active{
  transform: scale(1);
  transition: all 0.1s ease-in-out;
}

.App .Logo{
  size: 10em;
}

.App-link {
  color: #61dafb;
}

