.StartPage {
  text-align: center;

}
.start-header{
  background-image: url('../Utilities/Images/Title_Screen_Background.png');
  background-size: contain;
  background-repeat: no-repeat;
 min-height: 75vmin;
  min-width: 75vmin;

}
.start-words{
  
}


.App-link {
  color: #61dafb;
}

